* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */
  
}

/* .home{
  background-image: url('../public/images/illustration_homepage.png');
} */

/* .home,
.about-us,
.products,
.contact-us,
.sign-up,
.marketing,
.consulting {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.about-us {
  background-image: url('./images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('./images/img-3.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.contact-us {
  background-image: url('./images/img-4.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-7.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.marketing {
  background-image: url('./images/img-6.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.consulting {
  background-image: url('./images/img-5.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} */

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container-home {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
}


.grid-container-built-lib {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto ;
}

.grid-container-built-project {
  justify-content: center;
  margin-top: 50px;
  padding-right: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-container-nextpro {
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 90px;
  padding-right: 60px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-container-built {
  margin-left: 130px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.grid-item{



}

.home-card-container {
  margin-left: 70px;
  padding: 15px;
  
}

.built-card-lib-container {

  padding: 15px;
  display: flex;
  justify-content: center;
  
}

.features-class{

  display: flex;
  justify-content: center;

}


.homecard{

  padding: 5px;
  border-radius: 50px!important;
  width: 350px!important;
  background-color: #7eaec4!important;
  

}

.code8-lib-card{

  padding: 5px;
  border-radius: 20px!important;
  width: 500px!important;
  margin-top: 50px;
  background: rgba(25, 120, 165, 0.17)!important;

}



.built-card{

  padding: 5px;
  border-radius: 50px!important;
  width: 400px!important;
  background-color: rgba(25, 120, 165, 0.7);;
  

}


.nextpro-card{

  padding: 5px;
  border-radius: 50px!important;
  width: 420px!important;
  background-color: rgba(25, 120, 165, 0.7);;
  

}


.jr-container {
  margin-left: 500px;
  padding: 15px;
}

.juniorolym{

  padding: 5px;
  border-radius: 35px!important;
  width: 800px!important;
  background-color: #7eaec4!important;
}

#img-ab {
  width: 80%;
  margin-top: 110px;
}

#img-built1 {
  width: 80%;
  margin-top: 41px;
}

#img-arrow {
  width: 80%;
  margin-top: 101px;
  padding-right: 72px;


}

.bg-built-nextpro{

  margin-top: 70px;
  background-color: rgba(25, 120, 165, 0.7);;

}


#img-rating {
  width: 70%;
}

#img-home {
  margin-top: -80px;
  position: absolute;
}

#img-abs-lib {
  margin-top: -65px;
  position: absolute;
}


.aboutpg{

  display: flex;
  padding: 90px;
  padding-top: 15px;
  font-size: 20px;
  line-height: 1.75;
  font-family: 'Poppins', sans-serif; 

}

#img-ab2{
  position: absolute;
  width: 30%;
  margin-top: 120px;
  margin-left: 220px;

}

#img {
  width: 100%;
}

.hello{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 750px;
  padding: 30px;
  align-items: center;
}
.heading{
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  
}

  .information{
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
  }
    .text-info{
      
    position: absolute;
     width: 507px;
     height: 379px;
     left: 804px;
     font-family: Poppins;
     font-style: normal;
     font-weight: normal;
     font-size: 20px;
     line-height: 30px;
    }

.btn1{
        border: none;
        background:  #1978A5;
        width: 522px;
        height: 85px;
        margin-top: auto;
        border-radius: 19px;
        color: rgb(255, 254, 254);
        font-weight: 700;
        font-size: 18px;
        box-shadow: 0px 3px 8px 0px rgba(51, 49, 49, 0.9);
        text-transform: uppercase;
}
      
    
    .list{
      background-color: rgba(25, 120, 165, 0.5);
      width: 494px;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.02em;
      height: 511px;
      list-style-image: url('pages/icons/check\ \(1\)\ 4.png');                  
      border-radius: 40px;

    }
  
    .list ul{
      margin-top: 1.5rem;
    }
    .list ul li{
      margin-top: 1.5rem;
    }
    .list h3{
      margin-top: 2rem;
    }


